body {
    color: #434455;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none
 }

 .logo {
    font-family: "Raleway",
        sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }

  .logo-studio {
color: #2E2F42;
 }

 .page-nav .link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }

 .page-nav .link:hover,
 .page-nav .link:focus {
    color: #404BBF

 }
.page-address-title {
    font-style: normal;
}

 .page-address .address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
     }

 .page-address .address-link:hover,
 .page-address .address-link:focus {
    color:#404BBF
 }

 .section-page-title {
    background: #2E2F42;
 }

.page-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.title-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    }

.title-button:hover,
.title-button:focus {
     background-color: #404BBF;
    }

.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section-title-advantages .title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-title-advantages .text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team-title {
    background-color: #F4F4FD;
}
.section-title-item {
    background-color: #FFFFFF;
}
.section-title-item .title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-title-item .text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background: #2E2F42;
}
.page-footer .logo-footer {
    font-family: "Raleway",
        sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.page-footer .logo-studio {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.page-footer .footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

























    